<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1010379975924-kf06dpkijinhpv509i2tsi3bffshg9ki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010379975924-kf06dpkijinhpv509i2tsi3bffshg9ki</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1010379975924-5kpds66mordmicp1q78jqd1rjjilq7ej.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCmOmbF2dRadlv8JMsEqqliCpqvrndu8BI</string>
	<key>GCM_SENDER_ID</key>
	<string>1010379975924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.manasmalla.nowingoogle</string>
	<key>PROJECT_ID</key>
	<string>nowingdev</string>
	<key>STORAGE_BUCKET</key>
	<string>nowingdev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010379975924:ios:d50435d66a844ff11182a1</string>
</dict>
</plist>